


    .mod1-style {
        position: absolute;
        height: 350px;
        width: calc(50% - 30px);
        left: 0px;
        margin-left: 30px;
        bottom: 60px;

        @include breakpoint (mobile) {
          width: calc(100% - 20px);
          margin-left: 10px;
          margin-right: 10px;
          height: 200px;
          bottom: unset;
          top: 100px;
        }

        .mod1Legends-style {
          position: absolute;
          top: 48px;
          left: 50px;

          @include breakpoint (mobile) {
            top: 25px;
            left: 35px;
          }

          .legenditem-style {
            display: flex;
            height: 35px;
            margin-bottom: 7px;

            @include breakpoint (mobile) {
              height: 20px;
              margin-bottom: 4px;
            }


            #mobileInternetUsersBox {
              background-color: #aea0ac;
            }

            #TotalInternetUsersBox {
              background-color: #806b7e;
            }

            
            

            .legendbox-style {
              width: 35px;
              height: 35px;
              
              @include breakpoint (mobile) {
                width: 20px;
                height: 20px;
              }
            }

            .legendcopy-style {
              font-family: 'Roboto', sans-serif;
              font-size: 12px;
              margin-left: 10px;
              height: 35px;
              line-height: 35px;

              @include breakpoint (mobile) {
                height: 20px;
                line-height: 20px;
                font-size: 9px;
              }
            }
          }
        }
  
        .mod1lines-style {
          position: absolute;
          width: 100%;
          height: auto;
          bottom: 0px;
  
  
          .lineItems-style {
            display: flex;
            //padding-bottom: 13%;
            padding-bottom: 90px;
            position: relative;
            bottom: -11px;
  
            &:nth-child(4) {
              padding-bottom: unset;
            }

            @include breakpoint (mobile) {
              padding-bottom: 45px;
            }
           // margin-top: 12%;
  
            .lineItemvalue-style {
              font-size: 12px;
              min-width: 25px;
              text-align: right;
              margin-right: 10px;
              box-sizing: border-box;
              font-family: 'Roboto Slab', serif;
              position: relative;
              bottom: 3px;
            }
  
            .lineItembg-style {
              height: 2px;
              width: 100%;
              background-color: white;
              position: relative;
              top: 5px;
            }
          }
        }
  
        .mod2lines-style {
          position: absolute;
          width: calc(100% - 70px);
          right: 15px;
          height: 100%;
          display: flex;
          justify-content: space-between;
          box-sizing: border-box;
  
         
  
          .lineItems2-style {
              position: relative;
              width: 6%;
              box-sizing: border-box;
  
            .linesContainer-style {
              height: 100%;
             // width: 36px;
              width: 100%;
              max-width: 36px;
              display: flex;
              position: relative;
  
    
              .lineItemleft-style {
                width: 50%;
                
                position: absolute;
                height: 100%;
                left: 0px;
                bottom: 0px;
              //  background-color: pink;
  
                .lineItemleftbg-style {
                  background-color: #806b7e;
                  position: absolute;
                  width: 100%;
                  height: 0%;
                  bottom: 0px;
                }
                
              }
    
              .lineItemright-style {
                position: absolute;
                width: 50%;
                height: 100%;
                //width: 100%;
                right: 0px;
                bottom: 0px;
  
               // background-color: purple;
                
                .lineItemrightbg-style {
                  background-color: #aea0ac;
                  position: absolute;
                  width: 100%;
                  height: 0%;
                  bottom: 0px;
                }
              }
            }
  
            .yearsContainer-style {
              font-family: 'Roboto Slab', serif;
              font-size: 12px;
              text-align: center;
              margin-top: 2px;
              box-sizing: border-box;
              width: 35px;


              @include breakpoint (large) {
                font-size: 10px;
                margin-top: 5px;
              }

              @include breakpoint (medium) {
                font-size: 8px;
                margin-top: 5px;
              }

              @include breakpoint (mobile) {
                font-size: 8px;
                margin-top: 5px;
              }
  
            
             
            }
            
  
  
          }
        }
  
      }